<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Re:Store Family ── Сеть фирменых магазинов техники Apple и Samsung  в Москве. Официальный представитель. Оригинальная  продукция Apple и Samsung</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div style="width:90%; margin:0 auto;">
       
            <div class="list-inline top-menu row">
                <div class="col-md-3" style="font-size:30px;" title="Re:Store Family ── Сеть фирменых магазинов техники Apple и Samsung  в Москве. Официальный представитель. Оригинальная  продукция Apple и Samsung"><a href="/" style="text-decoration:none; color:white;">re:store Family</a></div>
                
                @if (Request.Cookies["Cart"] != null)
            {
                HttpCookie cookieOld = Request.Cookies["Cart"];

                var value = cookieOld.Value;
                var idList = Newtonsoft.Json.JsonConvert.DeserializeObject
                <List<LaserArt.Models.CardModel>>(value);
                ViewBag.CardCount = idList.Count;
            }
            else
            {
                ViewBag.CardCount = 0;
            }
                @if (!Request.Browser.IsMobileDevice)
            {
                    <div class=" col-md-2 header-text" style="padding-top:5px;">
                        <span class="headerSpan">Москва</span>
                       
                        <br />
                        <span style="font-size:10px;">  московская область</span>

                    </div>
                    <div class=" col-md-2 header-text">                        
                        <span class="headerSpan">Справочная служба</span>
                         <br />
                        <span style="font-weight:600 ;font-size:15px;">8 (800) 700-19-44</span>
                          
                            <br />
                        <span style="font-size:10px;"> круглосуточно, без выходных</span>
                           
                    </div>
                    <div class=" col-md-2" style="padding:7px"> <a href="/home/card"><img class="cardIcon" src="~/images/cardBasketIcon.png" />Корзина: <u>@ViewBag.CardCount</u> шт.</a></div>

                    <div class=" col-md-3">
                        <div class="inner-addon right-addon">
                            <i class="glyphicon glyphicon-search" style="color:black"></i>
                            <input type="text" id="searchArea" class="form-control" placeholder="Поиск..." />
                        </div>
                    </div>

                    

                }

            </div>
            <div>
                <div class="col-sm-3" style="padding:0;">
                    <div class="sidebar-nav">
                        <div class="navbar navbar-default" role="navigation">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                                    <span class="sr-only"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                @if (Request.Browser.IsMobileDevice)
                                {
                                    <input type="text" id="searchArea" style="margin:5px; width:70%;" class="form-control" placeholder="Поиск..." />
                                }
                            </div>
                            <div class="navbar-collapse collapse sidebar-navbar-collapse">
                                <ul class="nav navbar-nav">
                                    <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                                    @foreach (var item in ViewBag.Categories)
                                    {
                                        <li><a href="/home/category/@item.Id">@item.CategoryName</a></li>
                                    }
                                    <li>@Html.ActionLink("О нас", "About", "Home")</li>
                                    <li>@Html.ActionLink("Связь", "Contact", "Home")</li>


                                    <li>  <a href="/home/card">Корзина <u>@ViewBag.CardCount</u> шт.</a></li>

                                    @if (this.User.IsInRole("Administrator"))
                                    {
                                        <li>@Html.ActionLink("Добавит продукт", "CreateProduct", "Home")</li>
                                        <li>@Html.ActionLink("Добавит Категорию", "CreateCategory", "Home")</li>
                                            <li>@Html.ActionLink("Заказы", "Order", "Admin")</li>
                                            <li>@Html.ActionLink("Дизайнер", "Sales", "Home")</li>

                                            @Html.Partial("_LoginPartial")
                                    }

                                </ul>

                            </div><!--/.nav-collapse -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-9" style="padding:0 !important;">
                    <div class="container body-content">
                        @RenderBody()
                        <hr style="border-top:1px solid #000000 !important;" />
                        <footer style="margin-bottom:50px; font-size:10px;">

                            <p>
                                &copy; @DateTime.Now.Year - re:store-family Powered by <a href="https://www.facebook.com/novir">Novir+</a>
                                <br />
                                Электронная почта: internetshop.restore-family@mail.ru
                                <br />
                                Тел.: <phone>8 (800) 700-19-44</phone> (круглосуточно, пн-вс)
                            </p>
                        </footer>
                    </div>
                    <button onclick="topFunction()" id="myBtn" title="Go to top">^</button>


                </div>
                @if (!Request.Browser.IsMobileDevice)
                {
                    <div class="toolbar">
                        <div class="toolbar-right">
                            @if (Request.Cookies["Cart"] != null)
                            {
                                HttpCookie cookieOld = Request.Cookies["Cart"];

                                var value = cookieOld.Value;
                                var idList = Newtonsoft.Json.JsonConvert.DeserializeObject
                                <List<LaserArt.Models.CardModel>>(value);
                                ViewBag.CardCount = idList.Count;
                            }
                            else
                            {
                                ViewBag.CardCount = 0;
                            }

                            @*  <img class="cardIcon" src="~/images/cardBasketIcon.png" />*@
                            <a href="/home/card">Корзина <u>@ViewBag.CardCount</u> шт.</a>
                            <input type="button" class="btn btn-default footer-btn" onclick="orderBtnClick()" value="Оформить заказ" />

                        </div>
                    </div>
                }
            </div>

        </div>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script>tinymce.init({ selector: '#textarea' });</script>
    <script type="text/javascript">

        window.onscroll = function () { scrollFunction() };
        function saleDetails() {
            var selected = $('#SaleDropDown').val();
            window.location = "/Home/SalesDetails/" + selected;
        }
        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("myBtn").style.display = "block";
            } else {
                document.getElementById("myBtn").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0; // For Chrome, Safari and Opera
            document.documentElement.scrollTop = 0; // For IE and Firefox
        }
        $(document).ready(function () {
            //$('.body-content').css("min-height", function () {
            //    return $('.sidebar-nav').height();
            //});
            $('#searchArea').bind("enterKey", function (e) {
                window.location = "/home/Search?query=" + $(this).val();
            });
            $('#searchArea').keyup(function (e) {
                if (e.keyCode == 13) {
                    $(this).trigger("enterKey");
                }
            });
            $('.product').click(function () {
                window.location = "/home/product/" + $(this).attr('id');
            });
            $('.adminOrderRow').click(function () {
                window.location = "/admin/orderdetails/?OrderId=" + $(this).parent().attr('id');
            });
            $('.orderSetStatus').click(function () {
                var orderId = $(this).parent().parent().attr('id');
                var status = $('input[name=orderStatus_' + orderId+']:checked').val();
                alert('Статус изменен');
                window.location = "/admin/ChangeOrderStatus/?orderId=" +orderId  + "&status=" + status;
            });
            $('.deleteProduct').click(function () {
                var id = $(this).attr('id');
                $.ajax({
                    url: "/Home/RemoveProduct/" + id,
                    type: "POST",
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        //code after success
                        alert(response);
                        window.location = "/Home/";

                    },
                    error: function (er) {

                        alert(er.responseText);
                    }

                });
            });
            $('.removeCard').click(function () {
                var id = $(this).attr('id');
                $.ajax({
                    url: "/Home/RemoveCard/" + id,
                    type: "POST",
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        //code after success
                        console.log('#' + id + 'itemCard');
                        $('#' + id + 'itemCard').remove();

                    },
                    error: function (er) {

                        alert(er.responseText);
                    }

                });
            });
            $(".fileUpload").click(function () {
                var parent = $(this).parent();
                var data = new FormData();
                var files = $(this).parent().find(".uploadEditorImage").get(0).files;
                if (files.length > 0) {
                    data.append("HttpPostedFileBase", files[0]);
                    $(this).parent().find('.image').val('/images/' + files[0].name)
                }
                //.val('/images/' + files[0].name);
                $.ajax({
                    url: "/Home/FileUpload/",
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (response) {
                        //code after success
                        alert(response)
                    },
                    error: function (er) {

                        alert(er.responseText);
                    }

                });
            });
            $(".SalefileUpload").click(function () {
                var parent = $(this).parent();
                var data = new FormData();
                var files = $(this).parent().find(".uploadEditorImage").get(0).files;
                if (files.length > 0) {
                    data.append("HttpPostedFileBase", files[0]);
                    $(this).parent().find('.image').val('/images/Carousel/' + files[0].name)
                }
                //.val('/images/' + files[0].name);
                $.ajax({
                    url: "/Home/FileUploadCarousel/",
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (response) {
                        //code after success
                        alert(response)
                    },
                    error: function (er) {

                        alert(er.responseText);
                    }

                });
            });
        });
        function goToDetails() {


            window.location = "/home/orderDetails/" + $('#listInt').val();
        }
        function orderBtnClick() {
            window.location = "/home/order";
        }
        function orderBtnClickItem(itemId) {
            window.location = "/home/order/" + itemId;
        }
        function addToCard(itemId) {
            var quantity = $('#cardQuantity').val();
            if (quantity == "") {
                $('#cardQuantityRequired').html("Укажите количество товара.");
                $('#cardQuantity').focus();
                return;
            }
            $.ajax({
                url: "/Home/AddToCard?productId=" + itemId + "&quantity=" + quantity,
                type: "GET",
                processData: false,
                contentType: false,
                success: function (response) {
                    //code after success
                    alert(response)
                },
                error: function (er) {

                    alert(er.responseText);
                }

            });
        }

        $(document).ready(function () {
            $(".iconImg").click(function (event) {

                $('#generalImg').attr('src', $(event.target).attr('src'));
            });
        });

    </script>
    @if (Request.Browser.IsMobileDevice)
    {
        <style>
            .iconImg {
                width: 20% !important;
                height: auto;
                cursor: pointer;
            }
        </style>
    }

</body>
</html>
