@using System.Linq
@model List<LaserArt.Models.CardModel>

@{
    ViewBag.Title = "Корзина";
}

<div class="jumbotron">

    @foreach (var item in Model)
    {
        <table class="table table-striped" style="white-space:nowrap;font-size:12px;">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Кол.</th>
                    <th>Цена</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                      <img src="@item.product.ImageSource" class="imageHeader" style="height: auto;" />
                    </td>
                    <td>@item.ProductQuantity</td>
                    <td>
                        <p>@item.product.Price руб.</p>
                        @if (@item.product.PriceDiscounted != 0)
                {
                            <del> @item.product.PriceDiscounted</del>
                        }
                    </td>
                    <td><a class="removeCard" id="@item.product.Id"><img src="~/images/delete1600.png" style="width:30px; cursor:pointer;" /></a></td>
                </tr>
            </tbody>
        </table>
       
    }
    @if (Model.Count > 0)
    {
        <div class="row" align="right">
            <p>Сумма заказа:@ViewBag.Sum</p>
            <input type="button" class="btn btn-default  btn-buy" onclick="orderBtnClick()" value="Оформить заказ" />
        </div>
    }
    else
    {
        <div class="row">
            <p>Զամբյուղը դատարկ է</p>
        </div>
    }
    @*<div class="row">
       
        <hr />
        @foreach (var item in ViewBag.Recommended)
        {
           
            <div class="col-md-4 item-div" style="margin-bottom:10px;">
             
                <div class="row product" align="center" id="@item.Id" style="font-size:12px; padding:5px; margin-bottom:20px;">
                    <div class="col-md-12">
                        <img style="width:70%; height:auto;" src="@item.ImageSource" />
                        <p style="margin-top:10px;">#@item.Id <b style="font-weight:800;">@item.ProductTitle</b></p>
                        
                            <p style="display:inline">Цена: @item.Price руб.</p>
                        
                    </div>
                </div>
             
                    <div class="row" align="center">
                        <input type="button" value="Купить" class="btn btn-default btn-buy" onclick="orderBtnClickItem(@item.Id)" />
                    </div>
                

            </div>
        }
    </div>*@
</div>
