@model List<LaserArt.Models.Product>


<h2>@ViewBag.CategoryName</h2>
@if (this.User.IsInRole("Administrator"))
{
    <a href="/home/deleteCategory/@ViewBag.CategoryId">Удалить</a>
    <a href="/home/editCategory/@ViewBag.CategoryId">Изменить</a>

}
<div class="container jumbotron">
    @{
        var count = 0;
    }
    @foreach (var item in Model)
    {
        if (count % 3 == 0 || count == 0)
        {
            @Html.Raw("<div class=\"row\" id=\"" + count + "\">");
        }
        LaserArt.Models.ProductSpecification spec = new LaserArt.Models.ProductSpecification();

        <div class="col-md-4 item-div" style="margin-bottom:10px;">
            @if (this.User.IsInRole("Administrator"))
            {
                <a href="/home/editproduct/@item.Id">Изменить</a>
            }
            <div class="row product" align="center" id="@item.Id" style="font-size:12px; padding:5px; margin-bottom:20px;">
                <div class="col-md-12">
                    <img style="width:70%; height:auto;" src="@item.ImageSource" />
                    <p style="margin-top:10px;">#@item.Id <b style="font-weight:800;">@item.ProductTitle</b></p>
                    @if (LaserArt.Models.ProductSpecification.GetProductSpecification(Convert.ToInt32(item.Id)).Count() != 0)
                    {
                        spec = LaserArt.Models.ProductSpecification.GetProductSpecification(Convert.ToInt32(item.Id)).First();

                        <p style="display:inline">Цена: @spec.Price руб.</p>
                    }
                </div>
            </div>
            @if (LaserArt.Models.ProductSpecification.GetProductSpecification(Convert.ToInt32(item.Id)).Count() != 0)
                {
                <div class="row" align="center">
                    <input type="button" value="Купить" class="btn btn-default btn-buy" onclick="orderBtnClickItem(@item.Id,@spec.id)" />
                </div>
            }

        </div>
        if (count % 2 == 0 && count != 0)
        {
            @Html.Raw("</div>");
            count = 0;
        }
        else
        {
            count++;
        }

    }
</div>







