@model  Dictionary<LaserArt.Models.Category, List<LaserArt.Models.Product>>

@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron" style="padding:0 !important;">
    <div class="container top-banner">
        @if (!Request.Browser.IsMobileDevice)
        {
            <div class="col-md-12">

                <div class="w3-content w3-section">
                    @foreach (var item in ViewBag.Sales)
                    {
                        <a class="mySlides" href="@item.link">
                            <img class="myslideImage" src="@item.image">
                        </a>
                    }

                </div>
            </div>
        }
        else
        {
            <div class="col-md-12">
                <img src="~/images/Logo.png" class="mainlogo" />
            </div>
        }
    </div>
</div>
<div class="container jumbotron" style="padding-top:5px !important;">
    <div class="row" align="left">
        @ViewBag.Info
    </div>

    @foreach (var item in Model)
    {
        if (item.Value.Count == 0)
        {
            continue;
        }
        @Html.Raw("<div class=\"row\" >");


        <a style="text-decoration:none;color:black;" href="/home/category/@item.Value[0].CategoryId"><h3 style="font-size:30px;">@item.Key.CategoryName</h3></a>
        <hr />
        int i = 0;
        foreach (var product in item.Value)
        {
            LaserArt.Models.ProductSpecification spec = new LaserArt.Models.ProductSpecification();

            if (i == 0 || i % 3 == 0)
            {
                @Html.Raw("<div class=\"row\" >");
            }

            <div class="col-md-4 item-div">
                @if (this.User.IsInRole("Administrator"))
                    {
                    <a href="/home/editproduct/@product.Id">Изменить</a>
                }
                <div class="row product" align="center" id="@product.Id" style="font-size:12px; padding:5px; margin-bottom:20px;">
                    <div class="col-md-12">
                        <img style="width:70%; height:auto;" src="@product.ImageSource" />
                        <p style="margin-top:10px;">#@product.Id <b style="font-weight:800;">@product.ProductTitle</b></p>
                        @if (LaserArt.Models.ProductSpecification.GetProductSpecification(Convert.ToInt32(product.Id)).Count() != 0)
                        {
                            spec = LaserArt.Models.ProductSpecification.GetProductSpecification(Convert.ToInt32(product.Id)).First();

                            <p style="display:inline">Цена: @spec.Price руб.</p>
                        }
                    </div>
                </div>
                @if (LaserArt.Models.ProductSpecification.GetProductSpecification(Convert.ToInt32(product.Id)).Count() != 0)
                {
                    <div class="row" align="center">
                        <input type="button" value="Купить" class="btn btn-default btn-buy" onclick="orderBtnClickItem(@product.Id,@spec.id)" />
                    </div>
                }

            </div>
            i++;
            if (i != 0 && i % 3 == 0 || i == item.Value.Count)
            {
                @Html.Raw("</div>")

            }
        }
        @Html.Raw("</div>")
    }
</div>
<script src="~/Scripts/carousel.js"></script>
