@model  Dictionary<string, List<LaserArt.Models.Product>>

@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron" style="padding:0 !important;">
    <div class="container">
        @if (!Request.Browser.IsMobileDevice)
        {

            <div class="col-md-3">
                <img src="~/images/Logo.png" class="mainlogo" />
            </div>
            <div class="col-md-9">

                <div class="w3-content w3-section">
                    @foreach (var item in ViewBag.Sales)
                    {
                        <a class="mySlides" href="@item.link">
                            <img class="myslideImage" src="@item.image">
                        </a>
                    }

                </div>
            </div>
        }
        else
        {
            <div class="col-md-12">
                <img src="~/images/Logo.png" class="mainlogo" />
            </div>
        }
    </div>
</div>
<div class="container jumbotron" style="padding-top:5px !important;">
    <div class="row" align="left">
        @ViewBag.Info
    </div>

    @foreach (var item in Model)
    {
        if (item.Value.Count == 0)
        {
            continue;
        }
        @Html.Raw("<div class=\"row\" >");


        <h3>@item.Key</h3>
        <hr />
        int i = 0;
        foreach (var product in item.Value)
        {

            if (i == 0 || i % 3 == 0)
            {
                @Html.Raw("<div class=\"row\" >");
            }


            <div class="col-md-4 item-div"  >
                @if (this.User.IsInRole("Administrator"))
                    {
                    <a href="/home/editproduct/@product.Id">Изменить</a>
                }
                <div class="row product" align="center" id="@product.Id" style="font-size:12px; padding:5px; margin-bottom:20px;">
                    <div class="col-md-12">
                        <img style="width:70%; height:auto;" src="@product.ImageSource" />
                        <p>#@product.Id <b style="font-weight:800;">@product.ProductTitle</b></p>
                        <p style="display:inline">
                            Цена: @product.Price руб.
                            @if (@product.PriceDiscounted != 0)
                            {
                                <del style="display:inline; color:red;"> @product.PriceDiscounted</del>
                            }
                        </p>
                    </div>
                </div>
                <div class="row" align="center">
                    <input type="button" value="Заказать" class="btn btn-default" onclick="orderBtnClickItem(@product.Id)" />
                </div>
            </div>
            i++;
            if (i != 0 && i % 3 == 0 || i == item.Value.Count)
            {
                @Html.Raw("</div>")
            }
        }
        @Html.Raw("</div>")
    }
</div>
<script src="~/Scripts/carousel.js"></script>