@model  Dictionary<string, List<LaserArt.Models.Product>>

@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron" style="padding:0 !important;">
    <div class="container">
        @if (!Request.Browser.IsMobileDevice)
        {

        <div class="col-md-3">
            <img src="~/images/Logo.png" class="mainlogo" />
        </div>
        <div class="col-md-9">
            <div class="w3-content w3-section">
                @foreach (var item in ViewBag.Sales)
                {
                    <a class="mySlides" href="@item.link">
                        <img  class="myslideImage" src="@item.image">
                    </a>
                }
              
            </div>
        </div>
        }
        else
        {
            <div class="col-md-12">
                <img src="~/images/Logo.png" class="mainlogo" />
            </div>
        }
    </div>
</div>
<div class="container jumbotron" style="padding-top:5px !important;">
    <div class="row" align="left">
       @ViewBag.Info
    </div>
  
    @foreach (var item in Model)
    {
       
            @Html.Raw("<div class=\"row\" >");

        
        <h3>@item.Key</h3>
                <hr />
        foreach (var product in item.Value)
        {
           

                <div class="col-md-4">
                    @if (this.User.IsInRole("Administrator"))
                    {
<a href="/home/editproduct/@product.Id">Изменить</a>
                    }
                    <div class="row product" id="@product.Id" style="font-size:12px; padding:5px; margin-bottom:20px;">
                        <div class="col-md-8 ">
                            <img style="width:100%; height:auto;" src="@product.ImageSource" />
                            <p>#@product.Id @product.ProductTitle</p>
                            <p style="display:inline">
                                Цена: @product.Price руб.
                                @if (@product.PriceDiscounted != 0)
                                {
                                    <del style="display:inline"> @product.PriceDiscounted</del>
                                }
                            </p>
                           
                        </div>
                    </div>
                    </div>
           
            
        }
        @Html.Raw("</div>")
    }
    </div>
<script src="~/Scripts/carousel.js"></script>