
@model List<LaserArt.Models.Product>
@{
    ViewBag.Title = "Առկա չեն";
}


<h2>Առկա չեն</h2>
<div class="container">
    <div class="row">
        <div class="@(Request.Browser.IsMobileDevice?"col-xs-7":"col-xs-8")">
            @foreach (var product in Model)
            {
                <div class="@(Request.Browser.IsMobileDevice?"col-xs-4":"col-xs-3") item-div">
                    @if (this.User.IsInRole("Administrator"))
                    {
                        <a href="/home/editproduct/@product.Id">փոփոխել</a>
                    }
                    <div class="row " align="center" id="@product.Id" style="font-size:12px; padding:5px;">
                        <div class="col-md-12 ">
                            <a href="/home/product/@product.Id">
                                <img style="width:70%; height:auto;" src="@product.ImageSource" />
                            </a>
                        </div>
                    </div>
                    <div class="properties-div" align="center">
                        <a href="/home/product/@product.Id">

                            <p style="margin-top:10px;height:50px; font-size:12px;" class="text">#@product.Id <b style="font-weight:800;">@product.ProductTitle</b></p>
                        </a>
                        <p style="font-size:12px; height:30px;">
                            Գինը <del>@(product.PriceDiscounted == 0 ? "" : product.PriceDiscounted.ToString() + "դր.") </del>
                            <br />
                            <b> դր. @product.Price</b><span>@(product.Measure.Id == 1 ? "" : "/" + product.Measure.Name)</span>
                        </p>

                        <div class="row item-sub" align="center">
                            <div class=" col-sm-12 input-group input-number-group">

                                <div class=" col-sm-4 input-group-button">
                                    <span class="input-number-decrement">-</span>
                                </div>
                                <input type="number" name="@Convert.ToInt32(product.Measure.IsDecimal)" class="col-sm-4 cardQuantity form-control" id="cardQuantity" min="1" step="1" value="@(product.Measure.IsDecimal?"0.1":"1")" />
                                <div style="color:red; font-size:12px;" class="cardQuantityRequired" id="cardQuantityRequired"></div>

                                <div class="input-group-button col-sm-4">
                                    <span class="input-number-increment">+</span>
                                </div>
                            </div>
                        </div>
                        <input type="button" value="Ավելացնել" style="@(Request.Browser.IsMobileDevice?"font-size:10px;text-align:center;":"")" class="btn btn-default  btn-buy add-basket" name="@Convert.ToInt32(product.Measure.IsDecimal)" id="@product.Id" />
                    </div>
                </div>
            }
        </div>
        <div class="@(Request.Browser.IsMobileDevice?"col-xs-5":"col-xs-4") basket-all-container" style="height:100%;">
            @Html.Action("CardPartial")
        </div>
    </div>
</div>








