@model LaserArt.Models.Product

@{
    ViewBag.Title = Model.ProductTitle;
}

<div class="jumbotron">
    <p style="font-size:10px;">
        <a href="/home/subcategory/@ViewBag.Parent.Id">@ViewBag.Parent.ParentCategoryName</a>->
        <a href="/home/category/@Model.CategoryId">@ViewBag.CategoryName</a>->@Model.ProductTitle
    </p>

    @if (this.User.IsInRole("Administrator"))
    {
        <a id="@Model.Id" class="deleteProduct">Ջնջել</a>
    }
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="col-sm-12">
                    <img src="@Model.ImageSource" class="imageHeader" id="generalImg" />
                </div>

            </div>
            <div class="col-xs-6">
                <h3 class="h1"><b>@Model.ProductTitle</b></h3>
                <h4>Գինը:<b>@Model.Price</b><del>@(Model.PriceDiscounted == 0 ? "" : Model.PriceDiscounted.ToString())</del>/@Model.Measure.Name</h4>
                <hr class="productPagehr">
                <div style="margin-top: 20px; font-size:13px;">
                    @Html.Raw(Model.ProductDescription)
                </div>
                <hr class="productPagehr">
                <div class="properties-div" style="position:relative;" align="center">
                    <div class="row item-sub" align="center">
                        <div class=" col-sm-12 input-group input-number-group">

                            <div class=" col-sm-2 input-group-button">
                                <span class="input-number-decrement">-</span>
                            </div>
                            <input type="number" name="@Convert.ToInt32(Model.Measure.IsDecimal)" class="col-sm-4 cardQuantity form-control" id="cardQuantity" min="1" step="1" value="@(Model.Measure.IsDecimal?"0.1":"1")" />
                            <div style="color:red; font-size:12px;" class="cardQuantityRequired" id="cardQuantityRequired"></div>

                            <div class="input-group-button col-sm-2">
                                <span class="input-number-increment">+</span>
                            </div>
                        </div>
                    </div>
                    <input type="button" value="Ավելացնել" style="@(Request.Browser.IsMobileDevice?"font-size:10px;text-align:center;":"")" class="btn btn-default  btn-buy add-basket" name="@Convert.ToInt32(Model.Measure.IsDecimal)" id="@Model.Id" />
                </div>
            </div>
        </div>
    </div>
</div>